
@{
	ViewBag.Title = "CreateNewTrade";
	Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

@section Scripts {
	<script src="~/assets/js/app-create-trade.js"></script>
	<script src="~/assets/js/app-dashboard.js"></script>
}

<div class="col-lg-12">
	<h2 style="padding-left: 15px;">Trade Scheduling</h2>
</div>
<div class="col-lg-12">
	<div class="col-lg-7">
		<div class="panel panel-default b-a-2 b-gray-dark no-bg">
			<div class="panel-heading">
				<div class="row">
					<div class="form-group">
						<label for="exchange" class="col-sm-2 control-label">Exchange</label>
						<div class="col-sm-3">
							<select id="exchangeKey" class="form-control">
								<option value="1">Cex</option>
								<option value="2">Poloniex</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label for="coin" class="col-sm-2 control-label">Coin</label>
						<div class="col-sm-3">
							<select id="coin" class="form-control">
								<option value="1">BTC/ETH</option>
								<option value="2">BTC/USD</option>
								<option value="3">BTC/EUR</option>
								<option value="4">ETH/USD</option>
								<option value="5">ETH/EUR</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="chart-container" style="position: relative; height:600px; width:600px">
					<canvas id="chart" width="400" height="400"></canvas>
				</div>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="btn-group m-b-1" data-toggle="buttons">
							<label class="btn btn-info btn-outline">
								<input id="EmaChecked" type="checkbox">EMA
							</label>
						</div>
						<div class="btn-group m-b-1" data-toggle="buttons">
							<label class="btn btn-info btn-outline">
								<input id="RsiChecked" type="checkbox">RSI
							</label>
						</div>
						<div class="btn-group m-b-1" data-toggle="buttons">
							<label class="btn btn-info btn-outline">
								<input id="FiChecked" type="checkbox">ForceIndex
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5 col-sm-12">
		<h4 style="padding-bottom: 15px;">Trade info:</h4>
		<div class="form-group col-sm-12" style="z-index: 100">
			<label for="inputEmail3" class="col-sm-3 control-label">Action</label>
			<div class="col-sm-9">
				<select id="tradeAction" class="form-control">
					<option value="1">Buy</option>
					<option value="2">Sell</option>
				</select>
			</div>
		</div>
		<div class="form-group col-sm-12" style="z-index: 100">
			<label for="inputEmail3" class="col-sm-3 control-label">Exchange</label>
			<div class="col-sm-9">
				<select id="exchangeNr" class="form-control">
					<option value="1">Cex</option>
					<option value="2">Poloniex</option>
				</select>
			</div>
		</div>
		<div class="form-group col-sm-12" style="z-index: 100">
			<label for="inputEmail3" class="col-sm-3 control-label">Value</label>
			<div class="col-sm-9">
				<select id="coinPair" class="form-control">
					<option value="1">BTC/ETH</option>
					<option value="2">BTC/USD</option>
					<option value="3">BTC/EUR</option>
					<option value="4">ETH/USD</option>
					<option value="5">ETH/EUR</option>
				</select>
			</div>
		</div>
		<div class="form-group col-sm-12" style="z-index: 100">
			<label for="inputEmail3" class="col-sm-3 control-label">Value</label>
			<div class="col-sm-9">
				<input id="tradeValue" type="text" class="form-control"/>
			</div>
		</div>
		<div class="col-lg-12 col-sm-12" style="padding: 15px; z-index: 100">
			<a id="add-key" href="#"><span class="btn btn-primary btn-lg active">Add</span></a>
		</div>
		<table class="table dataTable no-footer table-striped table-bordered col-sm-12" style="z-index: 1">
			<thead>
			<tr>
				<td>Index Name</td>
				<td>Value</td>
				<td>Value must be</td>
				<td>Weight</td>
				<td>Action</td>
			</tr>
			</thead>
			<tbody id="table-body"></tbody>
		</table>
		<a id="create-trade" href="#"><span class="btn btn-primary btn-lg active">Create</span></a>
	</div>
</div>

<div id="add-criteria-form" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">Add criteria</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Index name</label>
						<div class="col-sm-9">
							<select id="indexName" class="form-control">
								<option value="1">RSI</option>
								<option value="2">EMA</option>
								<option value="3">ForceIndex</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Value</label>
						<div class="col-sm-9">
							<input id="value" type="text" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Value must be</label>
						<div class="col-sm-9">
							<select id="valueMustBe" class="form-control">
								<option value="1">Above</option>
								<option value="2">Above or equal</option>
								<option value="3">Equal</option>
								<option value="4">Below or equal</option>
								<option value="5">Below</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Weight</label>
						<div class="col-sm-9">
							<input id="weight" type="text" class="form-control" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="save-key" type="button" class="btn btn-primary">Add</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>