<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CoinMonitoringPortal - @ViewBag.Title</title>

	<link rel="stylesheet" href="~/assets/libs/css/lib.min.css">
	<link rel="stylesheet" href="~/assets/css/bootstrap.css">
	<link rel="stylesheet" href="~/assets/css/app.css">
	<link rel="stylesheet" href="~/assets/css/plugins.css">
	<link rel="stylesheet" href="~/assets/css/custom-bootstrap.css">
	<link rel="stylesheet" href="~/assets/css/main.css">
</head>
<body>
	<div class="container-fluid">
		@RenderBody()
	</div>
</body>

@RenderSection("Scripts", false)


<script src="~/assets/libs/js/jquery.min.js"></script>
<script src="~/assets/libs/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/js/jquery.sparkline.min.js"></script>
<script src="~/assets/libs/js/lib.min.js"></script>
<script src="~/assets/libs/js/chartist.min.js"></script>
<script src="~/assets/libs/js/dataTables.bootstrap.min.js"></script>
<script src="~/assets/libs/js/data.min.js"></script>
<script src="~/assets/libs/js/bootstrap-select.min.js"></script>
<script src="~/assets/libs/js/fullcalendar.min.js"></script>
<script src="~/assets/libs/js/exporting.min.js"></script>
<script src="~/assets/js/app/helpers.js"></script>
<script src="~/assets/js/app/layoutControl.js"></script>
<script src="~/assets/js/app/rightSidebar.js"></script>
<script src="~/assets/js/app/sidebar.js"></script>
<script src="~/assets/js/app/main.js"></script>
</html>